In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()

In [5]:
data=pd.read_csv("iphone.csv")
data.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

In [6]:
data.shape

(400, 4)

In [11]:
data.loc[data['Gender']=='Male','Gender']=0
data.loc[data['Gender']=='Female','Gender']=1
data

    Gender  Age  Salary  Purchase Iphone
0        0   19   19000                0
1        0   35   20000                0
2        1   26   43000                0
3        1   27   57000                0
4        0   19   76000                0
..     ...  ...     ...              ...
395      1   46   41000                1
396      0   51   23000                1
397      1   50   20000                1
398      0   36   33000                0
399      1   49   36000                1

[400 rows x 4 columns]

In [17]:
x=data.drop('Purchase Iphone',axis=1)
y=data['Purchase Iphone']

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [19]:
rfc.fit(x_train,y_train)

RandomForestClassifier()

In [24]:
pred=rfc.predict(x_train)

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
accuracy_score(y_train,pred)

0.996875

In [45]:
i=([1,26,43000])
i=np.asarray(i)
i=i.reshape(1,-1)
p=rfc.predict(i)
p

C:\Users\pvalb\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)