In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data1=pd.read_csv("movies.csv")

In [18]:
import re
def clean(title):
    return re.sub("[^a-zA-Z0-9] "," ",title)

In [19]:
data1["clean"]=data1["title"].apply(clean)
data1

,movieId,title,genres,clean
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995)
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji (1995)
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men (1995)
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale (1995)
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II (1995)
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Black Butler Book of the Atlantic (2017)
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,No Game No Life Zero (2017)
9739,193585,Flint (2017),Drama,Flint (2017)
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Bungo Stray Dogs Dead Apple (2018)
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,Andrew Dice Clay Dice Rules (1991)

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
vector=TfidfVectorizer(ngram_range=(1,2))
tfid=vector.fit_transform(data1["clean"])

In [27]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
def search(title):
    title=clean(title)
    query=vector.transform([title])
    similarity=cosine_similarity(query,tfid).flatten()
    indices=np.argpartition(similarity, -5)[-5:]
    result=data1.iloc[indices][::-1]
    return result

In [29]:
import ipywidgets as widgets
from IPython.display import display
movie_input=widgets.Text(value="Toy Story",description="Movie Name",disabled= False)
movie_list=widgets.Output()
def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title=data["new"]
        if len(title)>5:
            display(search(title))
movie_input.observe(on_type,names="value")

display(movie_input,movie_list)

Text(value='Toy Story', description='Movie Name')

Output()

In [31]:
ratings=pd.read_csv("ratings.csv")
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931