In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [3]:
data=pd.read_csv("weight.csv")
data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [5]:
data.loc[data['Gender']=='Male','Gender']=0
data.loc[data['Gender']=='Female','Gender']=1
data.head()

  Gender     Height      Weight
0      0  73.847017  241.893563
1      0  68.781904  162.310473
2      0  74.110105  212.740856
3      0  71.730978  220.042470
4      0  69.881796  206.349801

In [10]:
x=data.drop("Weight",axis=1)
y=data['Weight']

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [14]:
lr.fit(x_train,y_train)

LinearRegression()

In [19]:
pred=lr.predict(x_test)
pred

array([175.17532406, 229.48417664, 183.85179483])

In [20]:
a=lr.score(x_test,y_test)
a

0.46259092414337066

In [22]:
temp=np.array([[0,73.847017]])
rev=lr.predict(temp)
rev

C:\Users\pvalb\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([227.40048964])